<div class="flex flex-row" cdkDropListGroup>
  @for(list of listTask.list; track list; let index = $index) {
  <div class="flex flex-column col-4">
    <ng-container
      [ngTemplateOutlet]="listTasks"
      [ngTemplateOutletContext]="{
        list: list,
        index: index
      }"
    >
    </ng-container>
  </div>
  }
</div>

<ng-template #listTasks let-list="list" let-index="index">
  <div class="flex">
    <span
      [ngStyle]="{ background: list.color }"
      class="border-circle w-1rem h-1rem mr-2"
    ></span>
    {{ list.title }} ({{ list.tasks.length }})
  </div>
  <div
    id="list-{{ index }}"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="list"
    [cdkDropListConnectedTo]="listIds"
    class="h-full"
  >
    @for(task of list.tasks; track task) {

    <div class="mt-3">
      <app-kanban-card
        cdkDrag
        cdkDragPreviewContainer="parent"
        [title]="task.title"
        [description]="taskDoneText(task.subTasks)"
        (click)="taskSelected(task)"
      ></app-kanban-card>
    </div>
    }
  </div>
</ng-template>
